*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.container {
  width: 100%;
  height: 100vh;
  background: #f3fbff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-box {
  width: 60%;
  margin: auto;
  line-height: 0;
  background-image: url(./background.png);
  overflow: hidden;
  position: relative;
}

.img-warp{
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
}

